<!DOCTYPE html>
<html>
  <head>
    <title>Sarajewar</title>
    <%= csrf_meta_tags %>


          <!--Leaflet, PruneCluster, EasyButton, FontAwesome  -->

          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>


          <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
             integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
             crossorigin=""></script>

          <script src='https://cdn.rawgit.com/SINTEF-9012/PruneCluster/master/dist/PruneCluster.js'></script>



          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
          <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


            <link  rel="stylesheet" href="https://cdn.rawgit.com/k4r573n/leaflet-control-osm-geocoder/4a886e27/Control.OSMGeocoder.css">
            <script src="https://cdn.rawgit.com/k4r573n/leaflet-control-osm-geocoder/4a886e27/Control.OSMGeocoder.js"></script>




    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
